<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="Liren Chen" />
		<meta property="og:image" content="http://www.chenliren.droppages.com/img/liren2.png" />
		<meta name="description" content="Liren is a researcher, engineer and maker.  ">
		<title><%= @page_title || "Andrew's Page" %></title>
		<!-- 修改標籤上的字眼 -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<!--[if lt IE 9]>
	      	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	      	</script>
    	<![endif]-->
	</head>

	<body ng-app="validationApp" ng-controller="mainController">
		<%= render "welcome/navbar" unless @disable_nav %>
		<!-- Adding Authentication with Devise -->
		<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<!-- Ｆlash的功能 -->
		<p style="color: green"><%= flash[:notice] %></p>
		<p style="color: red"><%= flash[:alert] %></p>
		<% flash.each do |message_type, message| %>
		<div class="col-md-offset-1 col-md-10 alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<%= yield %>
		<!-- 要在yield之後才會置底 -->
		<%= render "welcome/footer" unless @disable_foot %>
	</body>
</html>